<div class="row mtop65">
  <div class="nav span6 offset4 mbot0 tac">
    <ul>
      <li class="blue b">HOME</li>
      <li class="blue b">ABOUT</li>
      <li class="blue b">CONTACT</li>
      <li class="blue b logo"><%= image_tag("logo.png", size: "50 x 50", class: "logo") %></li>
    </ul>
  </div>
</div>
  
<div class="row mtop0">
  <div class="span6 offset4">
    <h1 class="blue b mtop0">ABOUT</h1>
  </div>
</div>
<div class="row">  
  <div class="info-box span6 offset4">
    
  </div>
</div>