<div class="container nobg">
<div class="row mtop0">
  <div class="span6 offset4 mbot0 tac add">
    <ul>
      <li class="blue b">HOME</li>
      <li class="blue b">ABOUT</li>
      <li class="blue b">CONTACT</li>
      <li class="blue b logo"><%= image_tag("logo.png", size: "50 x 50", class: "logo") %></li>
    </ul>
  </div>
</div>
<div class="row span6 offset2">
  <h3 class="blue b">ADD A BUSINESS</h3>
</div>

<div class="row span6 offset2">
  <h6 class="mbot0">Please check the business isn't already in the directory before creating a new entry.</h6>
  <h6 class="mtop0">* Mandatory Field</h6>
</div>

<div class="row span6 offset2">
  <div class="container-box span6 nom">
    <h4 class="blue b">Business information</h4>
    <form class="form-horizontal">
      <div>
        <div class="control-group">
          <label class="control-label blue b">Name*</label>
          <div class="controls">
            <input type="text" placeholder="Name">
            <span>The name of shop, business, etc.</span>
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Location*</label>
          <div class="controls">
            <input type="text" placeholder="Location">
            <span>Most general first, i.e. London</span>
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Address*</label>
          <div class="controls">
            <textarea placeholder="Address"></textarea>
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Postcode*</label>
          <div class="controls">
            <input type="text" placeholder="Postcode" class="input-small">
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Map</label>
            <img src="http://placehold.it/250x150"/ style="margin-left: 20px;">
            <div class="inline">
              <label class="control-label coord blue b">Latitude*</label><input type="text" class="input-mini">
              <br/>
              <br/>
              <label class="control-label coord blue b">Longitude*</label><input type="text" class="input-mini">
            </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Phone</label>
          <div class="controls">
            <input type="text" placeholder="Phone">
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Website</label>
          <div class="controls">
            <input type="text" placeholder="Website" class="input-xlargeplus">
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label blue b">Tags</label>
          <div class="controls">
            <input type="text" placeholder="Tags" class="input-xlargeplus">
          </div>
        </div>
    </div>
    
    </div>
    </form>
  </div>

<div class="row span6 offset2">
  <div class="container-box span6 nom">
    <h4 class="blue b">Normal opening times</h4>
    <h6>Leave blank any days when the business is closed. See how to enter closed for lunch or open past midnight. You can also type midnight (for 12am), and midday (for 12pm).</h6>
    
    <table>
      <thead>
        <tr class="blue b">
          <td class="col1">Day</td>
          <td class="col2">Opens</td>
          <td class="col3">Closes</td>
          <td class="col4">Comment</td>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="col1 b white">Mon</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Tue</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Wed</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Thu</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Fri</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Sat</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
        
        <tr>
          <td class="col1 b white">Sun</td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col4"><input type"text" class="input-xlargeplus"></input></td>
        </tr>
      </tbody>
    </table>
    
    <p class="b mlefttop15">Add normal opening</p>
    
    
  </div>
</div>

<div class="row span6 offset2">
  <div class="container-box span6 nom">
    <h4 class="blue b bankhol">Bank Holiday opening times</h4>
    <p class="grey mbot0 mleft45">Please select which set of bank holidays this business follows.</p>
    <p class="blue mtop0 mleft45">See a list of upcoming bank holidays for each area.</p>
    <ul class="grey b">
      <li style="display: block;" class="bankhol">England & Wales</li>
      <li style="display: block;" class="bankhol">Scotland</li>
      <li style="display: block;" class="bankhol">Northern Ireland</li>
    </ul>
  
    <table>
      <thead>
        <tr class="blue b">
          <td class="col15"></td>
          <td class="col2">Opens</td>
          <td class="col3">Closes</td>
          <td class="col35 tam">Comment</td>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="col15 b blue"><input type="checkbox" class="vam">Closed</input></td>
          <td class="col2"><input type"text" class="input-mini"></input></td>
          <td class="col3"><input type"text" class="input-mini"></input></td>
          <td class="col35"><input type"text" class="input-xxxlarge"></input></td>
        </tr>
      </tobdy>
    </table>
    
    <h6 class="mleft45">Add a holiday opening</h6>
  </div>
</div>
</div>
</div>