<title>WHERE'S STILL OPEN</title>

<div class="container">
  <div class="nav">
    <ul>
      <li>HOME</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>
  
  <div class="row">
    <h1>CONTACT</h1>
  </div>
  
  <div class="info-box address">
    <p class="tele">123.456.7890</p>
    <p class="address">Somewheretown, UK</p>
    <p class="address">Some Zip Code Thing</p>
    </br>
    <p class="email">Email:</p>
    <p class="email">email@example.com</p>
  </div>
  
  
  
</div>