<div class="container">
<div class="row mtop65">
  <div class="automarg mbot0 tac">
    <ul>
      <li class="blue b">HOME</li>
      <li class="blue b">ABOUT</li>
      <li class="blue b">CONTACT</li>
      <li class="blue b logo"><%= image_tag("logo.png", size: "50 x 50", class: "logo") %></li>
    </ul>
  </div>
</div>
  
<div class="row mtop0">
  <div class="automarg">
    <h1 class="blue b mtop0">CONTACT</h1>
  </div>
</div>
<div class="row">  
  <div class="info-box automarg">
    
  </div>
</div>
</div>