<div class="row mtop100">
  <div class="nav span6 offset4 mbot0">
    <ul>
      <li class="blue b">HOME</li>
      <li class="blue b">ABOUT</li>
      <li class="blue b">CONTACT</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6 offset4">
    <p class="home-hero small">WHERE's</p>
    <p class="home-hero">STILL</p>
    <p class="home-hero">OPEN</p>
  </div>
</div>

<div class="row mtop50">
  <div class="span6 offset3">
  <p class="blue b tac">Enter a UK town or postcode to see <br/>when nearby businesses are open.</p>
  </div>
</div>
 
<div class="row mtop25">
  <div class="span4 offset4">
    <button class="search">SEARCH</button>
    <input class="home text-input" type="text"></input>
  </div>
</div>