<div class="container">
<div class="row mtop100">
  <div class="mbot0 automarg">
    <ul class="mleft30">
      <li class="blue b">HOME</li>
      <li class="blue b">ABOUT</li>
      <li class="blue b">CONTACT</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="automarg">
    <p class="home-hero small">WHERE's</p>
    <p class="home-hero movleft30">STILL</p>
    <p class="home-hero movleft30">OPEN</p>
  </div>
</div>

<div class="row mtop50">
  <div class="automarg">
  <p class="blue b tac">Enter a UK town or postcode to see <br/>when nearby businesses are open.</p>
  </div>
</div>
 
<div class="row mtop25">
  <div class="automarg">
    <button class="search">SEARCH</button>
    <input class="home text-input" type="text"></input>
  </div>
</div>
</div>