<title>WHERE'S STILL OPEN</title>

<div class="container">
  <div class="nav">
    <ul>
      <li>HOME</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>
  
  <div class="main">
    <p class="home-hero small">WHERE's</p>
    <p class="home-hero">STILL</p>
    <p class="home-hero">OPEN</p>
  </div>
  <br/>
  <br/>
  <div class="row">
    <p class="home-blue">Enter a UK town or postcode to see when nearby businesses are open.</p>
  </div>
   
  <div class="row">
    <button class="search">SEARCH</button>
    <textarea class="home text-input"></textarea>
  </div>
   
</div>